<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A/S</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/asStyles.css" type="text/css">
    <link rel="stylesheet" href="/css/colors.css">
    <link rel="stylesheet" href="/css/nav.css">
</head>
<body>
    <div th:replace="header.html"></div>
    <div class="container">
        <div class="header">A/S</div>
        <div class="service-sections">
            <div class="service-card">
                <h3>INFRA</h3>
                <p>안정적이고 효율적인 인프라 <br> 운영을 책임집니다. <br>
                    애플리케이션이 원활하게 <br> 동작할 수 있는 기반을 제공합니다.
                </p>
                <button>
                    <a href="mailto:support@emergencyservice.com" class="mailto-button">인프라 문의하기</a>
                </button>
            </div>
            <div class="service-card">
                <h3>FRONT</h3>
                <p>반응형 디자인을 통해 최상의 <br> 사용자 경험을 구현합니다.<br>
                    기술과 창의성을 결합해 최적의 <br> 웹 환경을 제공합니다.</p>
                <button>
                    <a href="mailto:support@emergencyservice.com"  class="mailto-button">프론트 문의하기</a>
                </button>
            </div>
            <div class="service-card">
                <h3>BACK</h3>
                <p>애플리케이션을 지원하는 견고한 <br>
                    백엔드 시스템을 개발합니다.<br>
                    API 개발 및 서버 로직을 <br> 전문으로 합니다.</p>
                <button>
                    <a href="mailto:support@emergencyservice.com" class="mailto-button">백 문의하기</a>
                </button>
            </div>
            <div class="service-card">
                <h3>DESIGN</h3>
                <p>창의적인 디자인으로 <br> 아이디어를 실현합니다.<br>
                    컨셉을 매력적이고 기능적인 <br> 레이아웃으로 구현합니다.</p>
                <button>
                    <a href="mailto:support@emergencyservice.com" class="mailto-button">디자인 문의하기</a>
                </button>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
