<!DOCTYPE html>
<html>
<head>
    <title>추천 병원 목록</title>
    <link rel="stylesheet" href="/css/tableStyles.css">
</head>
<body>
    <div class="frame-background">
        <h2>추천 병원 목록</h2>
        <div class="button-container">
            <button type="button" onclick="location.href='/'">돌아가기</button>
        </div>
        <table border="1">
            <thead>
            <tr>
                <th>#</th>
                <th>병원명</th>
                <th>병원등급</th>
                <th>병원주소</th>
                <th>전화번호</th>
                <th>이동시간</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="h, iterStat : ${result.hospitalList}">
                <td th:text="${iterStat.index + 1}"></td>
                <td th:text="${h.name}"></td>
                <td th:text="${h.grade}"></td>
                <td th:text="${h.address}"></td>
                <td th:text="${h.phone}"></td>
                <td th:text="${h.moveTime} + ' 분'"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Bootstrap JS 및 jQuery 포함 -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>