<!DOCTYPE html>
<html>
<head>
    <title>추천 병원 목록</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/seacrchResult.css">
    <link rel="stylesheet" href="/css/colors.css">

    <script th:src="@{|https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=${clientId}|}" defer></script>

</head>
<body>
    <div class="frame-background">
        <h2>추천 병원 목록</h2>
        <div class="button-container">
            <button type="button" onclick="location.href='/'">돌아가기</button>
        </div>
        <table border="1">
            <thead>
            <tr>
                <th>#</th>
                <th>병원명</th>
                <th>병원등급</th>
                <th>병원주소</th>
                <th>전화번호</th>
                <th>이동시간</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="h, iterStat : ${result.hospitalList}" 
                class="hospital-row" 
                th:attr="data-href=@{/api/map/dynamic(startLat=${resultInfo.startLat}, startLng=${resultInfo.startLng}, endLat=${h.latitude}, endLng=${h.longitude})}">
                <td th:text="${iterStat.index + 1}"></td>
                <td th:text="${h.name}"></td>
                <td th:text="${h.grade}"></td>
                <td th:text="${h.address}"></td>
                <td th:text="${h.phone}"></td>
                <td th:text="${h.moveTime} + ' 분'"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="mapModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mapModalLabel">Search Route Result</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="map" style="width: 100%; height: 400px;"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/drawMaps.js"></script>
    <script type="text/javascript" src="/js/eventToMap.js"></script> 
</body>
</html>
