:root {
    --blue1: #F5F7FF;
    --blue2: #E6EBFF;
    --blue3: #AAB9FF;
    --sub-blue: #6F87FF;
    --chery-blue: #5471FF;
    --red: #F25555;
    --yellow: #FFD833;
    --white: #FFFFFF;
    --light-gray1: #F5F5F5;
    --light-gray2: #DBDCDC;
    --gray1: #B5B7BA;
    --gray2: #909398;
    --dark-gray1: #5C5F66;
    --dark-gray2: #292C34;
}