body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.header {
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 40px;
    padding-bottom: 10px;
}

.dashboard-container {
   /* display: flex; # 가로배치*/
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

/* 각 박스 스타일 */
.box {
    /* width: 30%; 가로 배치 시 너비 동일하게 */
    background-color: var(--light-gray1); /* 박스 배경색 */
    border: 1px solid #ddd; /* 박스 테두리 */
    border-radius: 8px; /* 둥근 모서리 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    padding: 20px; /* 내부 여백 */
    box-sizing: border-box;
    margin: 20px;
}