.navbar {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #ccc;
    background-color: #f8f9fa;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: #ff4500;
}

.navbar-brand:hover {
    color: #ff6347;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10%;
}

.navbar-nav .nav-item {
    flex: 1;
    text-align: center;
}

.navbar-nav .nav-link {
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

.navbar-nav .nav-link.active {
    color: #007bff;
    font-weight: bold;
    border-bottom: 2px solid #007bff;
}
